@page "/"

<PageTitle>Index</PageTitle>

<h1>Min startsida!</h1>

<p>
    Detta är en app skapad av Amanda Abrahamsson. Denna app, Moment 1.2 är skapad i Visual Studio medan appen för Moment 1.1 är skapad i Visual Studio Code.
    <br />
    Jag har inte tidigare använt Visual Studio så detta var första gången.
</p>

